<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Generative Art</title>
    <link rel="stylesheet" href="./home/styles.css">
</head>

<body>
    <canvas id="ccc"></canvas>
    <main class="main-menu">
        <div class="brand">
            <svg class="brand__icon" viewBox="0 0 40 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 3L37.3205 33H2.67949L20 3Z" stroke="white" stroke-width="3" />
                <path d="M27.5 16.5L19 33.5" stroke="white" stroke-width="3" />
            </svg>
            <h1 class="brand__title">ARTECH DATA</h1>
        </div>
        <section id="header-container">
            <select>
                <option disabled>What service would you like to use ?</option>
                <option value="choix-2">KNN</option>
                <option value="choix-3">Ideal Festival For A Person</option>
                <option value="choix-4">Ideal Festival For Group</option>
                <option value="choix-5">Ideal Festival For All</option>
                <option value="choix-5">Music Genre Ideal Festival</option>
                <option value="choix-5">OUR PRODUCT</option>
            </select>
        </section>
        <a class="start-button horizontal_immersion">
            CONTINUE
        </a>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js.map"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js"></script>
    <script src="./home/script.js"></script>
    <script src="./home/select_transition.js"></script>
</body>

</html>