<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ARTECH DATA</title>
    <link rel="stylesheet" href="./restaurant/styles.css">
    <link rel="stylesheet" href="./styles/reverse-btn.css">
</head>

<body>
    <canvas id="ccc" data-db="{{data}}"></canvas>
    <main class="main-restaurant">
        <h1 class="title">IDEAL RESTAURANT EXPERIENCE</h1>
        <section class="config-container">
            <h3>Select all the people that want to go to your restaurant. Remember to select multiple users with <span>CTRL + CLICK</span>.</h3>
            <select multiple="multiple " size="3" class="users-selector">
                {{#each users}}
                <option value="{{index}}">{{name}}</option>
                {{/each}}
            </select>
        </section>
        <a class="button reverse">
            START YOUR EXPERIENCE
        </a>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js.map"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js"></script>
    <script src="./restaurant/script.js"></script>
</body>

</html>