@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.outer {
    left: 40px;
    top: 40px;
    z-index: 10;
    position: absolute;
    margin: auto;
    width: 50px;
    cursor: pointer;
    text-decoration: none;
}

.inner {
    width: inherit;
    text-align: center;
}

label {
    font-family: 'Raleway';
    font-size: .9em;
    line-height: 4em;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer;
}

.inner:before,
.inner:after {
    position: absolute;
    content: '';
    height: 1px;
    width: inherit;
    background: rgba(255, 255, 255, 0.8);
    left: 0;
    transition: all .3s ease-in;
}

.inner:before {
    top: 50%;
    transform: rotate(45deg);
}

.inner:after {
    bottom: 50%;
    transform: rotate(-45deg);
}

.outer:hover label {
    opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
    transform: rotate(0);
}

.outer:hover .inner:before {
    top: 0;
}

.outer:hover .inner:after {
    bottom: 0;
}